<Configuration packages="dev.koding.launcher.util">
    <Appenders>
        <LogDisplay name="LogDisplay">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} | %logger{1} > %msg%n"/>
        </LogDisplay>
        <Console name="Console">
            <PatternLayout
                    pattern="%cyan{%d{HH:mm:ss.SSS}} | %blue{%thread} %style{%highlight{%level}}{bright} %logger{1.} %cyan{>} %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogDisplay"/>
        </Root>
    </Loggers>
</Configuration>